@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}

body {
  background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.pane {
  background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.card {
  float: left;
  padding: 1.7rem 0.6rem;
  width: 25%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  height: 22vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.maincard .wrapper {
  background: SlateBlue;
padding: 20px;
}
.maincard .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}

.maincard .menu-content {
  float: right;
}
.maincard .menu-content li {
  margin: 0 5px;
  position: relative;
}
.maincard .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.maincard .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}
.maincard .title a {
  color: #fff;
}
.maincard .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.maincard .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.maincard .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}
.btn{


    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af

}
.center {
  height: 100%;
  position: relative;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}
 .sidebar{
  transform: translateX(-90%);
  height: 100%;
  width: 20%;
  z-index:1;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s;
  position: fixed;
}
.sidebar:hover{
  transform: translateX(0px);
  transition: all 0.3s;
  opacity: 100%;
  background-color: rgba(255, 255, 255,0.8);
}
svg{
width: 100%;
height: 100%;
padding: 20px;

}
.toast{
  display: block;
position: fixed;
text-align: center;
vertical-align: middle;
margin-left: auto;
margin-right: auto;
width: 100%;
height:100%;
z-index:1;
pointer-events: none;
}
.toast-box{

  width:300px;
  height:50px;
background: black;
  align-content: center;
  text-align: center;
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.toaster-text{
color: white;
text-align: center;
display: block;
margin-left: auto;
margin-right:auto;
padding: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);


}
.show-toast{
  transform: translateY(0);
  opacity: 0.7;
  transition: all 0.3s;
}
.hide-toast{
  transform: translateY(20px);
opacity: 0;
transition: all 0.5s;
}
